.container-margin {
  min-height:150px;
}
.red-text {
  color:red;
}
.green-text {
  color:green;
}
label {
  display:inline-block;
}
input, select {
  display:block;
}
.container-header {
  padding-bottom:20px;
}
.nav-margin {
  margin-left:5px;
}
.search-margin {
  margin-top:15px;
}
.search-button-margin {
  margin-left:2px;
}
.current-set-margin {
  margin-top:10px;
}
.delete-cred {
  float:right;
  margin-top:5px;
  color:red;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.btn-padding{
  margin:10px;
}
.btn-right{
  float:right;
}
.footer{
  min-height:100px;
}
@media print {
  /* style sheet for print goes here */
  .hide-from-printer{  display:none; }
}
